.edith3 {
  font-size: 6vh;
  padding-top: 3em;
  font-weight: bolder;
  color: #2ecc71;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.editform {
  background-color: #212529;
  display: column;
  justify-content: space-between;
  align-items: center;
  border: solid #2ecc71 3px;
  border-radius: 20px;
  color: white;
  width: 60vw;
  height: 100vh;
  margin-right: 30%;
  margin-left: 20%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
  margin-top: 20vh0;
}
.editform input {
  background-color: #2ecc71;
  width: 50%;
  /* height:5vh; */
  margin-top: 8%;
  display: block;
  margin-left: 25%;
}

.editform label {
  display: block;
  font-size: 20px;
  padding-right: 3%;
  margin-top: 5%;
}
.buttonedit {
  margin-top: 12%;
  margin-bottom: 15%;
  background-color: #2ecc71;
  color: white;
  border: solid #2ecc71 2px;
  border-radius: 10px;
  height: 5vh;
  width: 30%;
  padding-left: 8px;
  padding-right: 8px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 18px;
}

@media screen and (max-width: 950px) {
  .edith3 {
    font-size: 3vh;
    padding-top: 4em;
    font-weight: bolder;
    color: #2ecc71;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .editform {
    background-color: #212529;
    display: column;
    justify-content: space-between;
    align-items: center;
    border: solid #212529 3px;
    color: white;
    width: 60vw;
    height: 45vh;
    margin-right: 30%;
    margin-left: 20%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    text-align: center;
    margin-top: 20vh;
  }
  .editform input {
    background-color: #2ecc71;
    width: 50%;
    margin-top: 8%;
    display: block;
    margin-left: 25%;
  }

  .editform label {
    display: block;
    font-size: 15px;
    padding-right: 3%;
    margin-top: 5%;
  }
  .buttonedit {
    margin-top: 12%;
    margin-bottom: 15%;
    background-color: #2ecc71;
    color: white;
    border: solid #2ecc71 2px;
    height: 4vh;
    width: 30%;
    padding-left: 8px;
    padding-right: 8px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 10px;
  }
}
