.editgameform {
  background-color: #212529;
  display: column;
  justify-content: space-between;
  align-items: center;
  border: solid #2ecc71 3px;
  border-radius: 20px;
  color: white;
  width: 60vw;
  height: 555vh;
  margin-right: 30%;
  margin-left: 20%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.editgameform input {
  background-color: #2ecc71;
  width: 50%;
  height: 4em;
  margin-top: 8%;
  display: block;
  margin-left: 25%;
}

.selection {
  width: 60vh;
  margin-top: 3%;
  background-color: #2ecc71;
  margin-left: 25%;
}

.editgameform label {
  display: block;
  font-size: 18px;
  padding-right: 3%;
  margin-top: 5%;
}

.editgameform textarea {
  width: 60vh;
  margin-top: 3%;
  background-color: #2ecc71;
}
.categoryName {
  margin-top: 5%;
  font-size: 25px;
}

.buttoneditgame {
  margin-top: 10vh;
  background-color: #2ecc71;
  color: white;
  border: solid #2ecc71 5px;
  border-radius: 10px;
  height: 10vh;
  width: 20%;
  padding-left: 8px;
  padding-right: 8px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .editgameform {
    background-color: black;
    display: column;
    justify-content: space-between;
    align-items: center;
    border: solid black 3px;
    color: white;
    width: 60vw;
    height: 230vh;
    margin-right: 30%;
    margin-left: 20%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .editgameform input {
    background-color: #2ecc71;
    width: 50%;
    margin-top: 8%;
    display: block;
    margin-left: 25%;
  }

  .editgameform label {
    display: block;
    font-size: 15px;
    padding-right: 3%;
    margin-top: 5%;
  }

  .editgameform textarea {
    width: 30vh;
    margin-top: 3%;
    background-color: #2ecc71;
  }
  .categoryName {
    margin-top: 5%;
    font-size: 20px;
  }

  .buttoneditgame {
    margin-top: 12%;
    margin-bottom: 15%;
    background-color: #2ecc71;
    color: white;
    border: solid #2ecc71 2px;
    height: 4vh;
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 10px;
  }
}
