.footer {
  margin-top: 1rem;
  padding: 0;
  background-color: #2ecc71;;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  box-shadow: 1px 3px 10px rgb(0, 0, 0);
}

.linkfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px; }

.linkfooter > li {
  list-style: none; }

.linkfooter1 > a,
.linkfooter3 > a,
.linkfooter2 > address > a {
  text-decoration-line: none;
  color: #e49906;
  font-size: small; }

.footertitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8em; }

.footertitle > a {
  text-decoration-line: none;
  color: #e49906; }

.linkfooter1 {
  padding-right: 4em; }

.linkfooter3 {
  padding-left: 4em; }

.logocontact {
  display: flex;
  justify-content: center;
  margin: 1.1em 0; }

.dropdown > img {
  border: solid 1px #e49906;
  border-radius: 0.5em;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  box-shadow: red;
  cursor: pointer; }

.linkdinlogo {
  margin-right: 1.5em; }

.gitlogo {
  margin-left: 1.5em; }

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdwnlinkdin {
  
  position: absolute;
  background-color: #111111d2;
  min-width: 160px;
  overflow: auto;
  bottom: 25px;
  left: 0.5em;
  box-shadow: 0px 8px 16px 0px #e49906 0, 0, 0, 0.2;
  z-index: 1;
  font: 1; }

.dropdwnslack {
  
  position: absolute;
  background-color: #111111d2;
  min-width: 160px;
  overflow: auto;
  bottom: 25px;
  left: 0.5em;
  box-shadow: 0px 8px 16px 0px #e49906 0, 0, 0, 0.2;
  z-index: 1;
  font: 1; }

.dropdwngit {
  display: none;
  position: absolute;
  background-color: #111111d2;
  min-width: 160px;
  overflow: auto;
  bottom: 25px;
  left: 2em;
  box-shadow: 0px 8px 16px 0px #e49906 0, 0, 0, 0.2;
  z-index: 1;
  font: 1; }

.dropdown-content a {
  color: #e49906;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown a:hover {
  background-color: #000; }

.show {
  display: block; }

.divContactus{
  margin-left: auto;
  padding: 1.3em;
  
}
.paraAboutus {
margin: auto;
padding-left: 1.2em;
padding-right: 1.1em;
}
.amailto{
  text-decoration: none;
  color: #000;
}

