/** @format */

* {
  margin: 0;
  padding: 0;
}
.titre{
 
  font-size:10vh;
padding-top:5em;
  
  
}
.profil {
  background-color:#2ecc71;
  width: 50%;
  margin-right:40%;
  margin-left: 30%;
  display:column;
  justify-content: space-around;
  align-items: center;
 margin-top:20vh;
 border: solid black 3px;
  
 
}
.avatar {
  padding-top: 15%;
  margin-bottom: 10%;
  width: 40vh;
  height: auto;
  
}
.buttoninfo{
  margin-top:10%;
  margin-bottom:15%;
  background-color: black;
  color:white;
  border: solid black 2px;
  font-size: 10px;
  height: 10vh;
  width:30vh;
  padding-left:8px;
  padding-right:8px;
  font-size:20px;

}
.para{
  font-size: 25px;
  font-weight: 500;
  color:black;
  text-transform: uppercase;
  margin-bottom: 10%;
}
.buttonlocation{
  display:flex;
  align-items: center;
  justify-content: space-around;
  

}

@media screen and (max-width: 950px) {
  .titre{
    color:white;
    font-size:5vh;
    
    
  }
  .profil {
    background-color:#2ecc71;
    width: 80%;
    margin-right:30%;
    margin-left: 10%;
    display: column;
    justify-content: space-around;
    align-items: center;
   margin-top:20vh;
   border: solid black 3px;
    
   
  }
  .avatar {
    padding-top: 15%;
    margin-bottom: 10%;
    width: 40%;
    height: auto;
    
  }
  .buttoninfo{
    margin-top:10%;
    margin-bottom:15%;
    background-color: black;
    color:white;
    border: solid black 2px;
    font-size: 10px;
    height: 4vh;
    width:10vh;
    padding-left:8px;
    padding-right:8px;
    
   
    /* display:flex;
    justify-content: space-between;
    align-items: center; */
  }
  .para{
    font-size: 15px;
    font-weight: 500;
    color:black;
    text-transform: uppercase;
    margin-bottom: 10%;
  }
  .buttonlocation{
    display:flex;
    align-items: center;
    justify-content: space-around;

  }
}

@media screen and (max-width: 900px) {
}
