/** @format */

body {
  margin: 0;
  position: absolute;
}

.h3 {
  font-size: 8vh;
  padding-top: 1em;
  color: #2ecc71;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding-top: 1em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.signupform {
  border-radius: 20px;
  background-color: #212529;
  display: block;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  color: white;
  width: 40vw;
  height: auto;
  margin-right: 30%;
  margin-left: 30%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin-top: 7vh;
}

.signupform input {
  background-color: #2ecc71;
  width: 50%;
  display: block;
  margin-left: 25%;
  /* margin-top: 1em; */
}

.signupform label {
  display: block;
  font-size: 18px;
  padding-right: 3%;
  text-align: center;
  margin-top: 1em;
}
.confirm {
  font-size: 12px;
}
.signupbutton {
 
  background-color: #2ecc71;
  color: white;
  border: solid #2ecc71 2px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  height: 4vh;
  width: 25%;
  padding-left: 8px;
  padding-right: 8px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  cursor: pointer;
}
.file {
  margin-left: 2%;
  
}
.signupP {
  padding: 2em;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.linksignup {
  text-decoration: none;
  color: #2ecc71;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
  margin-left: 2px;
}

@media screen and (max-width: 950px) {
  .h3 {
    font-size: 3vh;
    padding-top: 3em;
    font-weight: bolder;
    color: #2ecc71;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .signupform {
    background-color: #212529;
    display: column;
    justify-content: space-between;
    align-items: center;
    border: solid black 3px;
    color: white;
    width: 60vw;
    height: auto;
    margin-right: 30%;
    margin-left: 20%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    text-align: center;
    margin: auto;
  }

  .signupform input {
    background-color: #2ecc71;
    width: 50%;
    margin-top: 6%;
    display: block;
  }

  .signupform label {
    display: block;
    font-size: 15px;
    padding-right: 3%;
  }
  .confirm {
    font-size: 12px;
  }
  .signupbutton {
    margin: auto;
    background-color: #2ecc71;
    color: white;
    border: solid #2ecc71 2px;
    font-size: 10px;
    height: 4vh;
    width: 10vh;
    padding-left: 8px;
    padding-right: 8px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 12px;
  }
  .file {
    margin-left: 3%;
  }
  .signupP {
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 12px;
    font-weight: bolder;
    margin: 2em;
  }
  .linksignup {
    text-decoration: none;
    color: #2ecc71;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 12px;
    margin-left: 2px;
  }
}

@media screen and (max-width: 900px) {
}
